.container {
  max-width: 800px;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

@media (min-width: 700px) {
  .flex {
    flex-direction: row;
  }

  .flex-basis {
    flex-basis: 50%;
  }
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.appear {
  display: initial;
}

.invalid-input {
    border-color: var(--invalid-input-clr);
}

.valid-input {
    border-color: var(--valid-input-clr);
}
